@model Model.EF.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Thêm mới sản phẩm
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();

            var editor = CKEDITOR.replace('txtContent', {
                customConfig: '/Assets/Admin/js/pluggins/ckeditor/config.js',
            });
        })
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhập thông tin sản phẩm.
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Create", "SanPham", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()


                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.MetaTitle)
                                @Html.ValidationMessageFor(model => model.MetaTitle)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.Code)
                                @Html.ValidationMessageFor(model => model.Code)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.Image, new { htmlAttribute = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
                                <a id="btnSelectImage" href="#">Chọn ảnh</a>
                                @Html.ValidationMessageFor(model => model.Image)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MoreImages, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.MoreImages)
                                @Html.ValidationMessageFor(model => model.MoreImages)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ID_DanhMuc, new { @class = "control-label col-md-5" })
                                @Html.DropDownListFor(model => model.ID_DanhMuc, null, new { htmlAtributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => Model.ID_DanhMuc)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.Price)
                                @Html.ValidationMessageFor(model => model.Price)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PromotionPrice, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.PromotionPrice)
                                @Html.ValidationMessageFor(model => model.PromotionPrice)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.Quantity)
                                @Html.ValidationMessageFor(model => model.Quantity)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.CreatedDate)
                                @Html.ValidationMessageFor(model => model.CreatedDate)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-5" })
                                @Html.TextBoxFor(model => model.ModifiedDate)
                                @Html.ValidationMessageFor(model => model.ModifiedDate)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-5" })
                                @Html.CheckBoxFor(model => model.Gender)
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>

                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Top, new { @class = "control-label col-md-5" })
                                @Html.CheckBoxFor(model => model.Top)
                                @Html.ValidationMessageFor(model => model.Top)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-5" })
                                @Html.EditorFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status)
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>